html,div,table,th,td,ul,.app li.panel-body,.app .panel,.app .app-preview .app-region .app-add-filed a{padding:0; margin:0;}
html,body {
    min-width: 1000px;
    /*    font-size: 12px;*/
    line-height: 1.5em;
    /*font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;*/
    /*font-family:"Helvetica Neue",STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif*/
}
a,a:hover,a:focus{text-decoration:none; cursor:pointer;}
img{border:0;}
ul{list-style:none;}
.fr{float: right;}
.fl{float: left;}
.m0a{margin:0 auto }
.mrt4{margin-top: 4px;display: block;}
.fr{float: right !important;;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
/*padding-left: 0 !important;*/
}
.panel.panel-default .panel-body.perm-group{
    padding: 20px !important;
}
.col-sm-9.col-xs-12 .panel-heading .checkbox-inline {
    padding-top: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
}
.form-group input.form-control,button.btn.btn-default{height: 34px;}

.rightlist{width: 100%;padding-bottom: 25px;min-width: 960px;/*background: #fff;border: 1px #e0e0e0 solid*/}
.rightlist2{margin: 52px 6px 6px 250px;
    padding-bottom: 125px;
    min-width: 960px;}
.topmenubg_yy{z-index: 3;position: fixed;left: 0;top: 0;bottom: 0; width:60px;background: #22B3EA;}
.topmenubg{z-index: 3;position: fixed;left: 0;top: 49px;bottom: 0; width:60px;background: hsl(0, 0%, 20%);}
.topmenubg a{font-size:12px !important;}
.topmenu>ul>li>a {
    display: block;
    margin:0 !important;
    padding:6px 10px !important;
}
.topmenu>ul>li>a>i {
    display: block;
    font-size: 20px;
    margin-bottom: 3px;
}
.topmenu ul li a i{color: #fff}
.topmenu>ul>li>a>span {
    color:rgba(255,255,255,.8);
}
.navbar-nav>li {
    float: left;
}
.alert-danger{
    color: hsl(1, 4%, 19%);
    background-color: hsl(64, 43%, 91%);
    border-color: hsl(53, 1%, 86%);
}
.topmenu_header{    min-width: 1000px;position:fixed;z-index:3;height:50px;background-color:#fff;border-bottom: 1px solid hsl(0, 0%, 87%);width:100%}
.topmenu_header a{z-index:9; color:#000}
.topmenu_header .dropdown{    float: left;
    position: relative;
    height: 50px;
    }
.topmenu_header ul li a:first-child{background: none}
.topmenu_header .dropdown-toggle:hover, .topmenubg_header .active{z-index:9; color:hsl(24, 100%, 50%);background-color:#fff !important;
    display: block;
    height: 50px;
    border-bottom: 3px solid hsl(24, 100%, 50%);
    transition: all .15s ease-in-out;
	color:#f60;
}
.topmenubg_header .active a{color: #f60}
.topmenu_header .dropdown-toggle:hover i{color: #F60}
.dropdown,.open{float: left;}
.container-fluid{padding: 0}
.ulleft-nav{
z-index: 2;position: fixed;
    width: 180px;
    border-right: 1px solid hsl(0, 0%, 93%);
    background-color: hsl(0, 0%, 98%);
    z-index: 1;
	top:50px;
	left:60px;
	height:100%;
}
.ulleft-nav article{
    margin: 5px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: hsl(0, 0%, 40%);
    word-wrap: break-word;
    word-break: normal;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{border-color: hsl(24, 100%, 50%);background: none}

.nav.nav-tabs li{width: 100%;margin-bottom: 5px;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover{
/*width: 100%;border-right-color:#fff; background-color:#fff;border-color:#ccc;color:#464646;border-right-color:#fff;*/
    color: hsl(24, 100%, 50%);
    background: hsl(0, 0%, 100%)!important;
    font-weight: 700;
    border: 1px solid hsl(0, 0%, 93%);
    border-right: 1px solid hsl(0, 0%, 100%);
    border-left: 3px solid hsl(24, 100%, 50%);
}
.nav-tabs .step{
    width: 100%;
    height: 1px;
    background: hsl(0, 0%, 93%);
    visibility: visible;
    margin: 10px 0;
}

.panel{border-radius: 0}
.panel-info>.panel-heading{color: #333;background-color: #F3F3F3;border-color: #E0E0E0;}
.panel.panel-info{
    border-color: #fff;
    /*margin-top: 10px !important;*/
    /*border: 1px solid #e4dfdf;*/
    background: #fff;
}
/*.nav.navbar-nav .dropdown i{    max-width: 24px;
    max-height: 22px;
    min-width: 24px;
    min-height: 22px;
    display: block;
    text-align: center;
    float: left;
    line-height: 22px;}*/
.nav-link{border: 1px solid #ccc!important;border-left:0!important}
.disbut{display: block;margin: 4px;}
/*.input-group-addon{border: 0;background: none}*/
.form-control{font-size: 12px;
    border-radius: 0px !important;
    height: 34px}
.table{margin-bottom: 0;    border-bottom: 1px solid #f5f5f5; /*margin-left:13px;*/}
/*.nav>li{width: 100%}*/
.topmenu ul li{width: 100%; text-align: center;}
.nav-tabs>li>a{border: 0;border-radius: 0 }
.dropdown-menu{/*left: 0;*/right:0;}
.nav-tabs>li>a:hover{border: 0;background: none}
.nav-tabs>li>a:hover{
    background: #eee;
    border: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 3px solid #eee;
}
.topmenu .nav>li>a:hover,.topmenu .nav>li>a:focus,.topmenu .nav .open>a,.topmenu .nav .open>a:hover,.topmenu .nav .open>a:focus{}
/*.navbar-nav{width: 100%}*/
.navbar-nav>li>.dropdown-menu {margin-top: -5px;}
/*.btn-primary,.btn-primary:hover {color: #fff;background-color: #f50;border-color: #f50; }*/
/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background-color: #f50;border-color: #f50;}*/
.btn-danger{background-color: #ed5565;border-color: #ed5565;}
.btn-danger:hover{background-color: #E84556;border-color: #E84556;}

.btn.back{margin-left:10px;}
/*.label-danger{background-color: #f50;}*/
/*.label-primary{background-color: #00CAB7;}
.label-default{background-color: #CACACA;color:#333;}*/
.ulleft-nav ul li a{
    width: 180px;
    padding: 8px 20px;
    font-size: 14px;
    color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 98%);
    border-right: 1px solid hsl(0, 0%, 93%);
    border-left: 3px solid hsl(0, 0%, 98%);
}
.nav.nav-tabs{border: 0;padding-top: 2px;}
.nav.nav-tabs li a em{display: inline-block;float: right;font-style: normal;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{padding: 4px 8px}
/*.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border-top:0;}*/

.sx-border{border:1px #ddd solid!important;/*margin-left:13px;*/}
/*.panel-default{border-color: transparent }*/
.mrleft40{margin-left: 150px!important}
.form-horizontal .form-group {margin-left:0 !important;margin-right:0 !important; padding-top: 10px;}
.panel-body .form-group{padding-top: 0 !important;}
.mem-pad{padding: 6px !important}
.label-danger{background-color: #ed5565;}
.label-primary {background-color:#1ab394;}
.btn-primary {background-color: #46CB2F;
    border-color: #13BD22;color: #FFFFFF;}
.btn {border-radius: 2px;padding: 8px 12px;box-sizing: border-box;}
.form-group .btn.btn-default{
    /*height: 34px;*/
}
.panel-body.perm-group .checkbox-inline{width: 120px;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#0ab2dc !important;border-color:#0EAD1C !important;}
/*.panel{border: 0}*/
/*
 *.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background-color: hsl(111, 62%, 49%);
 *    border-color: hsl(125, 81%, 41%);border: 1px solid}
 */
.topmenu ul li .dropdown-toggle{color:#fff !important;}
/*.panel-body table label{ display: block; }*/
.pagination{float: right;margin: 10px 0 ;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{       background-color: #00c0ef;
    border-color: #00c0ef;color: #fff;}
.pagination>li>a, .pagination>li>span{color: #868686;padding: 4px 10px;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #00c0ef;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.dropdown-menu-left{}
.label-paypal {background-color: #19F95E;}
.label-default {background-color: #BBB;}
.label-info {
    background-color: hsl(194, 66%, 61%);
}
.label{padding: 5px !important; border-radius:0}
#certs .form-control{height: 34px}
/*.input-group .form-control{width: 100px}*/
.wid100 .form-control,.wid100{width: 100px !important}
.row{margin:0;}
.fe-panel{width: 457px !important}
/*.form-control{padding: 0;text-align:center;}*/
/*.clearfix{padding-bottom: 100px}*/
.progress {background-color: #E6E6E6;}
.progress-bar-info {text-align: left;}
.topmenu{background: none !important;}
.dd{max-width: 100% !important;}
.dropdown-menu>li>a,.last-li>li>a {padding: 6px 20px;color: #636262;font-size: 13px;}
/*.last-li>li>a {line-height: 30px}*/
.border-t{border-top: 1px #eee solid;padding-top: 10px;}
.good-tit{background-color: #f5f5f5;border-bottom: 1px solid #ddd;height:44px;padding-top:8px;margin-bottom: 10px;}
.sizebg{background: none;color: #333;padding: 0 !important;font-weight: normal;}
.label-success {background-color: #46CB2F;}
.panel{box-shadow:0 0 0!important;
    /*margin-top: 10px;*/
margin-bottom: 0 !important;}
.panel-body {
    padding: 15px 15px 0;
}

.fart-main{width: 100% !important;}
.fart-editor{width: 60% !important;}
.fart-preview{width: 400px !important;}
.fart-editor-content .nav1,.fart-editor-content .nav2{width: 50%!important;}
.fart-editor-content .con1,.fart-editor-content .con2{width: 50%!important;}
.fart-editor-content .con2 .con{width: 84% !important;}
.fart-editor-content .con2 .tab{width: 16% !important;}
.fart-editor-content .con2 .tab .nav{font-size: 12px !important;}
.fart-form {padding: 10px !important;}
.fart-form .line2 {width: 380px !important;}
.fart-editor-menu nav{width: 33.33333% !important;}
.fe-save-main {width: 1032px !important;}
.edui-editor{z-index: 0 !important;}
.fe-save-submit,.fe-save-submit2,.fe-save-submit3{margin:14px 0 0px 4px !important;width: 80px !important;height: 34px !important;line-height: 34px !important;font-size: 14px !important;}
.page-heading {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;line-height: 50px;height: 50px;}
.page-heading h2{ font-size: 16px;position: absolute;left: 0;padding: 0;margin: 0;line-height: 50px;}
.page-heading .pull-right{padding-right: 10px}
.w1200{width: 100% !important;overflow: hidden;min-width: 1000px;box-sizing: border-box;}
.input-group{margin-bottom: 4px;z-index: 1}
.mart7{margin-top: 7px}
.tpl-category-container select{margin-bottom: 4px}
/*.navbar-nav{margin: 0;}*/
.navbar-nav .iconfont,.navbar-nav .fa{margin: 0 2px}
.topmenubg_header .navbar-nav>li>a {
    padding: 0px 10px;
/*    margin: 3px 0;*/
    text-align: center;
	font-size:14px;    line-height: 47px;
}
.text-default{ background: none;color:#7B7B7B }
.text-pinfo{ background: none;color: #ed5565 }
.upgrade-tips{z-index:99 !important;}
.table .label {display: inline-block;margin-bottom: 2px;border-radius: 2px;}
.option_stock_all/*,.input-group-addon*/{padding: 6px !important}
.plug-list{min-width:600px;}
.plug-list li{ width: 25%;float: left}

.modal-dialog{margin: 100px auto;z-index: 1111}
.fa-angle-down,.caret{display: none !important;}
.img-web{border-radius: 50%;max-width: 36px !important;margin: 12px 0 0;}
.wechat-pos{position: fixed!important;bottom: 0;left: 0;width: 90px!important;}
.last-li {
    display: none;
    position: absolute;
    left: 80px;
    top: 30px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 9999;
}
.last-li li a{padding: 5px 12px;}

.top-logo:hover .last-li{display: block}
.last-but,.last-but:hover{margin: 0!important;background: #535353}
.topmenu .nav>li>a:hover{background: hsla(0, 0%, 67%, 0.32)}
.first-h{padding:0 !important}
.topmenu .nav .first-h:hover{background: none}
.topmenu .nav .last-but:hover{background: #535353;color: #CACACA!important}
.pdl236{padding:49px 0 0 230px}

.top-logo{padding: 14px 0}
.addtit-name{
padding: 20px 20px 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
.addtit-name{font-weight:700}
.right-titpos{
    /*height: 50px;*/
    margin-bottom: 15px;
    position: relative;
    height: 38px;
    border-bottom: 1px solid #eee;
}
.panel-footer{
    background-color: #fff;
}
.right-titpos-fixed{    background: #FAFAFA;
    border-bottom: 1px #e0e0e0 solid;
    height: 50px;
    position: fixed;
    width: 100%;
    left: 240px;
    top: 50px;
    z-index: 2;    min-width: 960px;}
.add-snav{width: 98%;margin: 0 1%;line-height: 50px;}
.add-snav li{float: left;}
.add-snav li a {
    height: 46px;
    padding: 0 16px;
    min-width: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    line-height: 48px;
    display: block;
}
.add-snav li.active a {
    color: #333;
    /*border-bottom: 2px solid #FF6600;*/
    font-size: 14px;
}
.add-shopnav{width: 98%;
    /*margin: 0 1%;*/
    line-height: 50px;overflow: hidden;}
.add-shopnav li{float: left;    margin-left: -1px;}

.add-shopnav li a {
    display: inline-block;
    padding: 0 12px;
    line-height: 32px;
    color: #333;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
    min-width: 80px;
    text-align: center;
}
.add-shopnav li.active a {
    border-bottom-color: #fff;
    background: #fff;
}

.right-addbox{/*    width: 97.4%;
    margin: 15px;
    margin-top: 60px;*/
   /* background-color: #fff;
    border: 1px #e0e0e0 solid;*/}
@media (max-width: 767px){
.navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: auto;
    margin: 2px 0 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #fff;
}
}

.prod-nav {    background-color: hsl(0, 0%, 96%);
    border-bottom: 1px solid hsl(0, 0%, 87%);
    height: 44px;
    margin-bottom: 10px; 
    line-height:44px;
    margin: 0 auto;
}

.prod-nav li{padding-left:15px}

.panel-center{width: 98%;margin: 8px auto;}
.ml140{margin-left: 140px}
/*插件修改图标*/
.unit-head{
    padding: 0 15px;
    line-height: 50px;
}
.unit-list{overflow: hidden}
.unit-list ul li{float: left;background: #f8f8f8;width:32%;margin:0 0 1% 1%;height: 60px;padding-left:60px;position: relative; }
.unit-list ul li a i{color: #fff;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    font-size: 22px;
    position: absolute;    display: inline-block;
    left: 10px;
    top: 10px;}
.unit-list ul li a h1{float: left;
    width: 100%;
    display: block;
    margin: 0;
    font-size: 16px;
    color: #333;
    padding: 12px 0 4px;
}
.unit-list ul li a p{float: left;
        display: block;
    float: left;
    font-size: 12px;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
}
.icon-yunpay,.icon-virtual,.icon-tmessage,.icon-diyform{font-size: 18px !important;}
.biz{background-color: #f15353}
.sale{background-color: #F7923B}
.tool{background-color: #ff5898}
.help{background-color: #58CAF6}
.fe-panel-editor {padding: 0px !important;}
.fe-panel-menu nav {padding: 5px 0 !important;}
.fe-panel-editor-line2-right {width: auto !important;}
.fe-panel-editor-con label{float: left;}
.fe-panel-editor-name{width: 82px !important}
.fe-panel-editor-input2{width: 40px !important;padding-left: 2px !important}
.fe-panel {margin-left: 10px !important;}
.btn-group .dropdown-menu-left{right: 0}

.example-header {
    font-weight: 500;
    margin: 30px 0 10px;
    position: relative;
}
.example-header:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
    position: absolute;
    top: 10px;
    left: 0;
}
.example-header span {
    display: inline-block;
    background: #fff;
    padding: 0 5px 0 18px;
    position: relative;
    margin-left: 30px;
    font-size: 14px;
}